<header class="sectionHero">
  <div class="container">
    <h2>Información adicional</h2>
  </div>
</header>

<section class="container">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <% if @user.type == "Store" %>
        <%= render partial: "devise/registrations/store/form", locals: { f: f } %>
      <% else %>
        <%= render partial: "devise/registrations/customer/form", locals: { f: f } %>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <p class="help-block">(*) Campos obligatorios</p>

      <div class="actions">
        <%= f.submit 'Guardar', :class => 'btn btn-primary   col-md-offset-3 col-sm-offset-3 col-sm-6  col-xs-offset-3 col-xs-6 '  %>
      </div>
      <br>
    <% end %>

</section>
