<section class="registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>Añade la información adicional</h2>
    </header>


  <div class="registration_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <table class="registration_table">
        <tr>
          <td>
            <div class="form-group registration_form-group">
              <%= f.label "Nombre de la Tienda*" %>
              <%= f.text_field :store_name, autofocus: true %>
            </div>
          </td>

          <td>
            <div class="form-group registration_form-group">
              <%= f.label "Correo*" %>
              <%= f.email_field :email %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group registration_form-group">
              <%= f.label "Dirección" %>
              <%= f.text_area :address %>

            </div>
          </td>
          <td rowspan="2">
            <div class="form-group registration_form-group">
              <%= f.label "Información adicional" %>
              <%= f.text_area :delivery_info, rows: 7 %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group registration_form-group">
              <%= f.label "Celular*" %>
              <%= f.telephone_field :phone_number %>
            </div>
          </td>
        </tr>
        <!-- User token -->
        <% if session['super_token'] %>
          <%= f.hidden_field :user_token, value: session['super_token'] %>
        <% end %>
      </table>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <p class="help-block">(*) Campos obligatorios</p>

      <div class="actions">
        <%= f.submit 'Guardar', :class => 'product_save button special col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6  col-xs-offset-3 col-xs-6 '  %>
      </div>
      <br>
    <% end %>

    <!-- <%= button_to "Eliminar mi cuenta", registration_path(resource_name),
    data: { confirm: "¿Estás seguro? Esta acción no se puede deshacer" }, method: :delete,
     class: "button special col-md-12 col-sm-12 col-xs-12 col-lg-12"%> -->
  </div>
  </div>
</section>
