<% client = Instagram.client(:access_token => session[:access_token]) %>
<% @user_info = client.user %>
<section class="app__registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>Editar información</h2>
      <p>Bienvenido <%= @user_info.username %>, añade la información adicional</p>
    </header>

    <img src="<%= @user_info.profile_picture %>" alt="profile photo" class="img-rounded img-responsive app__registration_image">

    <div class="app__registration_form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group app__registration_form-group">
          <%= f.label "Nombre de la Tienda" %>
          <%= f.text_field :store_name, value: @user_info.full_name %>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Correo Electrónico" %>
          <%= f.email_field :email%>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Información de domicilio" %>
          <%= f.text_area :address %>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Celular" %>
          <%= f.number_field :phone_number %>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Información adicional" %>
          <%= f.text_area :delivery_info, value: @user_info.bio, rows: 6 %>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Contraseña" %>
          <% if @minimum_password_length %>
          <p class="help-block app__registration_message">
            (Mínimo <%= @minimum_password_length %> caractéres)
          </p>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form-group app__registration_form-group">
          <%= f.label "Confirma Contraseña" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>


        <div class="actions">
          <%= f.submit "Guardar", class: "button special col-md-12 col-sm-12 col-xs-12 col-lg-12" %>
        </div>

        <%= link_to "Política de Privacidad", legal_privacy_policy_path %>
      <% end %>
    </div>
  </div>
</section>
