<%= stylesheet_link_tag 'print', media: 'print' %>

<div class="dashboard__header hidden-print">
  <div class="container-fluid">
    <h2 class="dashboard__headline">
      Orden <small>#<%= @order.id %></small>
      <a href="javascript:window.print()" class="btn btn-sm btn-default">Imprimir orden</a>
      <br>
      <small><span class="label label-info js_orderStatus"><%= @order.status %></span></small>
    </h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @order.store.image %>
      <br>
      <%= @order.store.name %>
    </div>
    <div class="col-md-9">
      <table class="table">
        <tr>
          <td colspan="3">Orden #<%= @order.id %></td>
        </tr>
        <tr>
          <td>Producto</td>
          <td></td>
          <td>Precio (COP)</td>
        </tr>
        <tr>
          <td>
            <%= @order.product.product_name %>
          </td>
          <td></td>
          <td>
            <%= number_to_currency @order.product.price, precision: 0 %>
          </td>
        </tr>
        <tr>
          <td>
            Precio domicilio
          </td>
          <td></td>
          <td>
            <%= number_to_currency @order.store.delivery_price, precision: 0 %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><b>Total</b></td>
          <td><b><%= number_to_currency @order.total, precision: 0 %></b></td>
        </tr>
      </table>

    </div>
  </div>
  <br>
  <br>
  <h4><b>Detalles</b></h4>
  <% if @order.details? %>
    <p><b>Información importante:</b> <%= @order.details %></p>
  <% end %>
  <p>Fecha de compra: <%= @order.created_at.to_formatted_s(:short) %></p>
  <p>Comprador: <%= @order.customer.full_name %></p>
  <p>Dirección: <%= @order.address? ?  @order.address : "No es necesaria" %></p>
  <p>Teléfono: <a href="tel:<%= @order.customer.phone_number %>"><%= number_to_phone @order.customer.phone_number %></a></p>
  <p>Método de pago: <%= @order.payment_method %></p>
  <hr>
  <div class="form-inline hidden-print">
    <%= form_for(['stores', @order]) do |f| %>
      <% unless @order.errors.messages.empty? %>
        <% @order.errors.messages[:status].each do |message| %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
        <% end %>
      <br>
      <% end %>
      <div class="form-group">
        <label for="status" class="sr-only">Estado</label>
        <div class="input-group">
          <div class="input-group-addon">Estado</div>
          <%= f.select :status, @state_options.each {}, {}, { class: 'form-control' } %>
        </div>
        <%= f.submit 'Guardar Estado', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <p class="hidden-print">
    <%= link_to 'Ver otras órdenes', stores_orders_path %>
  </p>
</div>
