<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Correo Electrónico</span> <br>
    <%= mail_to @store.email %>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Celular</span> <br>
    <span id="phone_number">
      <a href="tel:<%= number_to_phone(@store.phone_number) %>" class="track" data-track='tel'>
        <%= number_to_phone(@store.phone_number) %>
      </a>
    </span>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Redes Sociales</span> <br>
    <a href="http://www.instagram.com/<%= @store.instagram_account %>" target="_blank">
      <%= icon('instagram', class: 'store__socialIcon') %>
    </a>

    <%= link_to_if @store.facebook?, "http://www.facebook.com/#{@store.facebook}", target:"_blank" do %>
      <%= icon('facebook', class: 'store__socialIcon') %>
    <% end %>

    <%= link_to_if @store.twitter?, "http://www.twitter.com/#{@store.twitter}", target:"_blank" do %>
      <%= icon('twitter', class: 'store__socialIcon') %>
    <% end %>

    <%= link_to_if @store.snapchat?, "http://www.snapchat.com/add/#{@store.snapchat}", target:"_blank" do %>
      <%= icon('snapchat-ghost', class: 'store__socialIcon') %>
    <% end %>

  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info"><% if @store.city? %>
      <span class="app__bold-text">Ubicación</span> <br>
      <%= @store.city %> - <%= @store.country_name %>
    <% end %></div>
</div>
