<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Correo Electrónico</span> <br>
    <%= mail_to @store.email %>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Celular</span> <br>
    <span id="phone_number">
      <a href="tel:<%= number_to_phone(@store.phone_number) %>" class="track" data-track='tel'>
        <%= number_to_phone(@store.phone_number) %>
      </a>
    </span>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Instagram</span> <br>
    <a href="https://www.instagram.com/<%= @store.instagram_account %>" target="_blank"><%= @store.instagram_account %></a>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info"><% if @store.city? %>
      <span class="app__bold-text">Ubicación</span> <br>
      <%= @store.city %> - <%= @store.country %>
    <% end %></div>
</div>
