<header class="sectionHero">
  <div class="container">
    <h2>Información adicional</h2>
  </div>
</header>

<section class="container">

  <div class="registration_form">
    <%= form_for(@store) do |f| %>
    
      <table class="table stores__form">
        <tr>
          <td class="stores__form-data">
            <div class="form-group">
              <%= f.label "Nombre de la Tienda*" %> <br>
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>
          </td>

          <td class="stores__form-data">
            <div class="form-group">
              <%= f.label "Correo*" %> <br>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </td>
        </tr>

        <tr>
          <td class="stores__form-data">
            <div class="form-group">
              <%= f.label "Dirección" %>
              <%= f.text_area :address, class: 'form-control' %>

            </div>
          </td>
          <td rowspan="2" class="stores__form-data">
            <div class="form-group">
              <%= f.label "Información adicional" %> <br>
              <%= f.text_area :info, rows: 7, class: 'form-control' %>
            </div>
          </td>
        </tr>

        <tr>
          <td class="stores__form-data">
            <div class="form-group">
              <%= f.label "Celular*" %> <br>
              <%= f.telephone_field :phone_number, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <!-- User token -->
        <% if session['super_token'] %> <br>
          <%= f.hidden_field :user_token, value: session['super_token'] %>
        <% end %>
      </table>

      <p class="help-block">(*) Campos obligatorios</p>

      <div class="actions">
        <%= f.submit 'Guardar', :class => 'btn btn-primary   col-md-offset-3 col-sm-offset-3 col-sm-6  col-xs-offset-3 col-xs-6 '  %>
      </div>
      <br>
    <% end %>

  </div>
</section>
