<section class="section app__product-container wrapper special">

  <div class="inner">
    <img src="<%= @user.store_image %>" class="app__product-img col-xs-12 col-md-6 col-lg-6 col-sm-6" alt="<%=  @user.store_name %>">

    <div class="app__product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 ">
      <header class="major app__product-headline">
        <h2><%= @user.store_name %></h2>
      </header>

      <p>
        <span class="app__bold-text"> Correo Electrónico:</span>
        <%= mail_to @user.email %>
      </p>

      <p>
        <span class="app__bold-text">Celular:</span>
        <%= @user.phone_number %>
      </p>

      <p>
        <span class="app__bold-text">Dirección:</span>
        <%= @user.address %>
      </p>

      <p>
        <span class="app__bold-text">Información adicional:</span>
        <%= @user.delivery_info%>
      </p>

      <p>
        <span class="app__bold-text">Cuenta de Instagram:</span>
        <a href="https://www.instagram.com/<%= @user.store_account %>" target="_blank"><%= @user.store_account %></a>
      </p>
    </div>
  </div>
</section>
