<% if @products.count > 0 %>
  <%= hidden_field :direction, params[:direction] %>
  <%= hidden_field :sort, params[:sort] %>

  <table class="table table-striped table-hover table-bordered footable toggle-arrow" id="table">
    <thead>
      <tr class="list-fields">
        <th class="text-center" width="14%">Imagen</th>
        <th class="text-left" width="19%">
          <%= sortable "Nombre", "product_name" %>
        </th>
        <th class="text-center" width="10%" data-hide="phone">
          <%= sortable "Precio", "price" %>
        </th>
        <th class="text-center" width="10%" data-hide="phone,tablet">
          <%= sortable "Cantidad", "quantity" %>
        </th>
        <th class="text-left" width="30%" data-hide="phone,tablet">Descripción</th>
        <th class="text-center" width="17%" colspan="2">Acciones</th>
      </tr>
    </thead>

    <tbody id="products">
      <%= render "products" %>
    </tbody>
  </table>

  <script>
    $(function($){ $('#table').footable({ phone: 480 }); });
  </script>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <h1>:(</h1>
        <p>No tienes productos.</p>
      </p>
    </div>
  </div>
<% end %>
