<p>
  <span class="app__bold-text"> Correo Electrónico:</span>
  <%= mail_to @user.email %>
</p>

<p>
  <span class="app__bold-text">Celular:</span>
  <span id="phone_number">
    <%= @user.phone_number %>
  </span>
</p>

<p>
  <% if @user.address? %>
    <span class="app__bold-text">Dirección:</span>
    <%= @user.address %>
  <% end %>
</p>

<% if @user.delivery_info? %>
  <p>
    <span class="app__bold-text">Información adicional:</span>
    <%= @user.delivery_info%>
  </p>
<% end %>

<p>
  <span class="app__bold-text">Cuenta de Instagram:</span>
  <a href="https://www.instagram.com/<%= @user.store_account %>" target="_blank"><%= @user.store_account %></a>
</p>
