<p>
  <span class="app__bold-text"> Correo Electrónico:</span> <br>
  <span class="stores__text"><%= mail_to @user.email %></span>
</p>

<p>
  <span class="app__bold-text">Celular:</span> <br>
  <span id="phone_number">
    <span class="stores__text"><%= @user.phone_number %></span>
  </span>
</p>

<p>
  <% if @user.address? %>
    <span class="app__bold-text">Dirección:</span> <br>
    <span class="stores__text"><%= @user.address %></span>
  <% end %>
</p>

<% if @user.delivery_info? %>
  <p>
    <span class="app__bold-text">Información adicional:</span> <br>
    <span class="stores__text"><%= @user.delivery_info %></span>
  </p>
<% end %>

<p>
  <span class="app__bold-text">Cuenta de Instagram:</span> <br>
  <a href="https://www.instagram.com/<%= @user.store_account %>" target="_blank" class="stores__text"><%= @user.store_account %></a>
</p>
