<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Correo Electrónico</span> <br>
    <%= mail_to @user.email %>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Celular</span> <br>
    <span id="phone_number">
      <a href="tel:<%= number_to_phone(@user.phone_number) %>" class="track" data-track='tel'>
        <%= number_to_phone(@user.phone_number) %>
      </a>
    </span>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info">
    <span class="app__bold-text">Instagram</span> <br>
    <a href="https://www.instagram.com/<%= @user.store_account %>" target="_blank"><%= @user.store_account %></a>
  </div>
</div>

<div class="col-sm-3 text-center">
  <div class="store__info"><% if @user.address? %>
      <span class="app__bold-text">Dirección</span> <br>
      <%= @user.address %>
    <% end %></div>
</div>
