<% if @products.count > 0 %>

  <header class="major">
    <h2>productos</h2>
  </header>

  <div class="gallery ">
    <% @products.each do |product| %>
      <div class=" thumbnail gallery-thumbnail col-xs-12 col-sm-4 col-md-3 col-lg-3">

        <%= link_to product do %>
          <img src="<%= product.instagram_image %>" class="gallery-img img-responsive" alt="product">
        <% end %>

        <div class="gallery-caption caption">
          <h3 class="product_name app__bold-text">
            <%= link_to product do %>
              <%= number_to_currency product.price, precision: 0 %>
            <% end %>
          </h3>
          <%= link_to "Ver más", product, class: "button special fit small" %>
        </div>

      </div>
    <% end %>
  </div>

<% end %>
