<header class="hero">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <img src="<%= @user.store_image %>" class="" alt="<%=  @user.store_name %>">
        <h2 class="app__list-headline">
          <%= @user.store_name %>
          <% if current_user %>
            <% if current_user.id == @user.id %>
              <%= link_to edit_user_registration_path do %>
                <i class="stores__edit_pencil fa fa-pencil"></i>
              <% end %>
            <% end %>
          <% end %>
        </h2>
      </div>

      <div class="col-sm-6">
        <%= render 'users/info'%>
      </div>
    </div>
  </div>
</header>
<br>
<section class="container">

  <div class="row">
    <%= render @products %>
  </div>

  <div class="paginator text-center">
    <%= paginate @products %>
  </div>

</section>
