<section class="section product-container wrapper special">

  <header class="major">
    <h2 class="app__list-headline">
      <%= @user.store_name %>
      <% if current_user %>
        <% if current_user.id == @user.id %>
          <%= link_to edit_user_registration_path do %>
            <i class="stores__edit_pencil fa fa-pencil"></i>
          <% end %>
        <% end %>
      <% end %>
    </h2>
  </header>

  <div class="inner row-height clearfix">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-height">
      <img src="<%= @user.store_image %>" class="stores-img" alt="<%=  @user.store_name %>">
    </div>

    <div class="product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 col-height store__info_container">
      <%= render 'users/info'%>
    </div>

    <%= render 'users/products'%>

    <div class="paginator text-center">
      <%= paginate @products %>
    </div>
  </div>

</section>
