<header class="storeHero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <img src="<%= @user.store_image %>" class="" alt="<%=  @user.store_name %>">
        <h2 class="app__list-headline">
          <%= @user.store_name %>
          <% if current_user %>
            <% if current_user.id == @user.id %>
              <%= link_to edit_user_registration_path do %>
                <i class="stores__editPencil fa fa-pencil"></i>
              <% end %>
            <% end %>
          <% end %>
        </h2>
      </div>
      <div class="col-md-5">
        <% if @user.delivery_info? %>
          <div class="store__description">
            <%= @user.delivery_info%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="container">

<div class="row">
    <%= render 'users/info'%>
</div>
</div>
<section class="container">

  <div class="row">
    <%= render @products %>
  </div>

  <div class="paginator text-center">
    <%= paginate @products %>
  </div>

</section>
