<section class="app__registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>Cambiar mi contraseña</h2>
    </header>
  </div>
  <div class="app__registration_form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group app__registration_form_group">
        <%= f.label :password, "Contraseña nueva:" %>
        <% if @minimum_password_length %>
        <p class="help-block app__registration_message">
          (Mínimo <%= @minimum_password_length %> caractéres)
        </p>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="form-group app__registration_form_group">
        <%= f.label :password_confirmation, "Confirma tu nueva contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Cambiar", class: "button special col-md-12 col-sm-12 col-xs-12 col-lg-12" %>
      </div>
      <br>
    <% end %>

  </div>
</section>
