<section class="app__registration_container section wrapper special">
  <div class="inner">
    <header class="major">
      <h2>¿Olvidaste tu contraseña?</h2>
    </header>
  </div>
  <div class="app__registration_form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label "Ingresa tu email:" %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar instrucciones", class: "button special col-md-12 col-sm-12 col-xs-12 col-lg-12" %>
      </div>
      <br>
    <% end %>

  </div>
</section>
