<div class="col-md-3">
  <h5 class="footer__headline">Mi Cuenta</h5>
  <ul class="footer__list">
    <% if user_signed_in? %>
      <% if is_store? %>
        <li>
          <%= link_to 'Dashboard', stores_dashboard_path %>
        </li>
        <li>
          <%= link_to 'Productos', stores_products_path %>
        </li>
        <li>
          <%= link_to 'Órdenes', stores_orders_path %>
        </li>
        <li>
          <%= link_to 'Pagos y Envíos', stores_payments_and_delivery_path %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Dashboard', customers_dashboard_path %>
        </li>
        <li>
          <%= link_to 'Compras', customers_dashboard_orders_path %>
        </li>
        <li>
          <%= link_to 'Información', edit_user_registration_path %>
        </li>
      <% end %>
    <% else %>
      <li>
        Necesitas iniciar sesión.
      </li>
    <% end %>
  </ul>
</div>
