<div class="dashboard__header">
  <div class="container-fluid">
    <h2 class="dashboard__username">
      <small><%= sayHello %>,</small> <%= current_user.full_name %>
    </h2>
  </div>
</div>

<section class="container-fluid updates">
  <!-- <%= render 'shared/dashboard/announcements' %> -->
  <div class="row">
    <div class="col-sm-12">
      <%= render 'shared/dashboard/activity' %>
    </div>
    <div class="col-sm-12">
      <div class="activities__icon">
        <i class="fa fa-bullhorn"></i>&nbsp;
        <b>Te Recomendamos</b>
      </div>
      <p class="activities__row">Para mirar los productos de las tiendas de Instagram entra a
        <%= link_to products_path do %>
          <i class="fa fa-shopping-bag"></i>
          Productos
        <% end %>.
      </p>
      <p class="activities__row">
        Para comprar, recuerda tener tu cuenta actualizada.
      </p>
  </div>
</section>
