<table class="table stores__form">
  <tr>
    <td class="stores__form-data">
      <div class="form-group">
        <%= f.label "Nombre de la Tienda*" %> <br>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </td>

    <td class="stores__form-data">
      <div class="form-group">
        <%= f.label "Correo*" %> <br>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </td>
  </tr>

  <tr>
    <td class="stores__form-data">
      <div class="form-group">
        <%= f.label "Ciudad*" %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "País*" %>
        <%= f.text_field :country, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Celular*" %> <br>
        <%= f.telephone_field :phone_number, class: 'form-control' %>
      </div>
    </td>

    <td class="stores__form-data">
      <div class="form-group">
        <%= f.label "Usuario de Facebook" %>
        <div class="input-group">
          <div class="input-group-addon">http://facebook.com/</div>
          <%= f.text_field :facebook, class: 'form-control' %>
        </div>

      </div>
      <div class="form-group">
        <%= f.label "Usuario de Twitter" %>
        <div class="input-group">
          <div class="input-group-addon">http://twitter.com/</div>
          <%= f.text_field :twitter, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Usuario de Snapchat" %> <br>
        <%= f.telephone_field :snapchat, class: 'form-control' %>
      </div>
    </td>
  </tr>

  <tr>
    <td class="stores__form-data" colspan="2">
      <div class="form-group">
        <%= f.label "Información adicional" %> <br>
        <%= f.text_area :info, rows: 4, class: 'form-control' %>
      </div>
    </td>

    <% if !current_user.name? %>
      <%= f.hidden_field :pilot, value: false%>
      <%= f.hidden_field :waiting_position, value: Store.where("details->'pilot' = ?", "false").all.count %>
    <% end %>
  </tr>

  <tr>
    <td class="stores__form-data" colspan="2">
      <div class="form-group">
        <%= f.label "Valor del domicilio*" %> <br>
        <%= f.number_field :delivery_price, min:"0", inputmode:"numeric", pattern:"[0-9]*", title:"Non-negative integral number", class: 'form-control' %>
      </div>
    </td>
  </tr>
</table>
