<%= active_link_to 'Dashboard', stores_dashboard_path, 'dashboard__link', 'home' %>

<%= active_link_to 'Crear Producto', stores_instagram_media_path, 'dashboard__link js_instagramLoad', 'plus' %>

<%= active_link_to 'Ver Productos', stores_products_path, 'dashboard__link', 'shopping-basket' %>

<%= active_link_to 'Ver Órdenes', stores_orders_path, 'dashboard__link', 'paper-plane' %>

<%= active_link_to 'Información', edit_user_registration_path, 'dashboard__link', 'pencil-square' %>

<li class='dashboard__item'>
  <%= link_to store_path(current_user), class: "dashboard__link", target: '_blank' do %>
    <i class="fa fa-external-link-square"></i>
    <span class="hidden-xs">Ver Tienda</span>
  <% end %>
</li>
