<ul class="nav navbar-nav navbar-left js_topMenu">
  <li>
    <%= link_to root_url, class: 'menu__logo' do %>
      <%= image_tag '/logo.png', class: 'img-responsive', lazy: true %>
    <% end %>
  </li>
  <li>
    <%= link_to 'Productos', products_path %>
  </li>
  <li>
    <%= link_to '¿Cómo funciona?', page_path('tutorial') %>
  </li>
  <li>
    <%= link_to 'Contacto', new_contact_path %>
  </li>
</ul>
