<tr>
  <td><%= order.id %></td>
  <td><%= order.status %></td>
  <td><%= time_ago_in_words order.created_at %></td>
  <td>
    <% if is_store? %>
      <%= order.customer.full_name %>
    <% else %>
      <%= order.store.name %>
    <% end %>
  </td>
  <td><%= order.product.product_name %></td>
  <td>
    <% if current_user.type == 'Customer' %>
      <a href="tel:<%= order.store.phone_number %>">
        <%= order.store.phone_number %>
      </a>
      <br>
      <a href="mailTo:<%= order.store.email %>">
        <%= order.store.email %>
      </a>
    <% else %>
      <a href="tel:<%= order.customer.phone_number %>">
        <%= order.customer.phone_number %>
      </a>
      <br>
      <a href="mailTo:<%= order.customer.email %>">
        <%= order.customer.email %>
      </a>
    <% end %>
  </td>
  <% if is_store? %>
    <td  class="hidden-print"> <%= link_to 'Ver', stores_order_url(order.id) %> </td>
  <% end %>
</tr>
