<% content_for :mobile_header do %>
  <h3 class="mobileHeader__headline">Detalles de la compra</h3>
<% end %>

<% content_for :headline do %>
  <h3 class="sectionHero__headline">Detalles de la compra</h3>
<% end %>

<section class="container">
  <div class="row">

    <div class="col-sm-6">
      <%= render 'product_and_store_details' %>
    </div>
    <div class="col-sm-6">
      <h3>Comprador</h3>
      <p><%= current_user.full_name %></p>
      <p>Contacto: <%= current_user.phone_number %> / <%= current_user.email %></p>
      <hr>
      <%= form_for([@product, @order]) do |f| %>

      <%= render "shared/errors", object: @order %>

        <b>Método de pago</b>
        <div class="row">
          <% if @payment_methods.empty? %>
            <div class="alert alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Esta tienda <b>no</b> tiene <b>métodos de pago</b>, definidos, cuando tu orden esté creada la tienda se comunicará contigo.
            </div>
          <% else %>
            <% @payment_methods.each do |p_method| %>
              <div class="col-sm-4">
                <div class="radio">
                  <label>
                    <%= f.radio_button :payment_method, p_method %>
                    <%= p_method %>
                  </label>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <p> Dirección: <br> <%= f.text_field :address, value: current_user.address, class: 'form-control' %> </p>
        <p>
          Información adicional:
          <br>
          <%= f.text_area :details, cols: 40, rows: 8, placeholder: 'Detalles adicionales: Cómo llegar, horario, talla... etc.', class: 'form-control' %>
        </p>
        <%= render 'total_table' %>
        <hr>
        <div class="actions">
          <%= f.submit 'Confirmar Orden', :class => 'btn btn-primary col-sm-6 '  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center"> </div>
  </div>
</section>
