<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Store:</strong>
  <%= @order.store %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
