<header class="sectionHero">
  <div class="container">
    <h2 class="">Gracias</h2>
  </div>
</header>

<section class="container">
  <div class="thanks">
    <header class="thanks__header">
      <h2>Orden Completa! <i class="fa fa-check-square"></i></h2>
    </header>
    <div class="thanks__body">
      <% if @result.payment_method == "Consignación Bancaria" %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Recuerda realizar la consignación bancaria para que la tienda comienza el proceso de tu pedido
        </div>
      <% end %>
      <p>
        Has comprado 1 <b><%= @result.product.product_name %></b> en la tienda <b><%= @result.store.name %></b>, te acompañaremos en el proceso envíandote correos cuando la orden cambie de estado y al final del proceso te enviaremos una copia al correo electrónico, asegúrate de tener tus datos actualizados.
      </p>
      <br>
      <div class="thanks__details">

        <p><b>Número de orden</b>: <%= @result.id %> </p>
        <p><b>Total</b>: <%= number_to_currency @result.total, precision: 0 %></p>
        <p><b>Forma de pago</b>: <%= @result.payment_method %></p>
        <% if @result.payment_method == 'Consignación Bancaria' %>
          <p>
            <b>Instrucciones:</b>
            <br>
            <i><%= @result.store.bank_transfer_instructions %></i>
          </p>
        <% end %>
        <p><b>Dirección de Envío</b>: <%= @result.address %></p>
        <% if @result.details? %>
          <p><b>Detalles</b>: <%= @result.details %></p>
        <% end %>
      </div>
    </div>
    <footer class="thanks__footer">
      <%= link_to 'Regresar al Catálogo', catalog_view_path %>
    </footer>
  </div>
</section>
