<div class="menu">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header hamburger">
        <button type="button"
          class="hamburger__button navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false" >
          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left">
          <li id="home_path">
            <%= link_to root_url  do%>
              Home <span class="sr-only">(current)</span></a>
            <% end %>
          </li>

          <li id="catalog_path">
            <%= link_to "Catálogo", catalog_view_path %>
          </li>

          <li id="tutorial_path">
            <%= link_to "¿Cómo funciona?", tutorial_index_path %>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#searchModal" role="button" class="search_btn" data-toggle="modal" id="search_path">
              <i class="glyphicon glyphicon-search"></i> Buscar Producto
            </a>
          </li>

          <%  if user_signed_in?  %>
          <li class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user_path">
              <i class="fa fa-user" aria-hidden="true"></i> Opciones
            </a>
            <% if current_user.pilot? %>
              <ul class="dropdown-menu">
                <li id="add__product_path">
                  <%= link_to users_dashboard_path, class: 'js_addNewProduct navbar__adminItem' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    Crear un producto
                  <% end %>
                </li>

                <li id="product_path">
                  <%= link_to products_path, class: "navbar__adminItem" do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Ver mis productos
                  <% end %>
                </li>

                <li id="edit_user_path">
                  <%= link_to edit_user_registration_path, class: "navbar__adminItem"  do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    Editar mi información
                  <% end %>
                </li>

                <li>
                  <%= link_to(destroy_user_session_path, method: :delete) do %>
                    <span class="glyphicon glyphicon-off"></span>
                    Cerrar Sesión
                  <% end %>
                </li>

              </ul>
            </li>
            <% else %>
            <ul class="dropdown-menu">
              <li id="add__product_path">
                <%= link_to users_suscribe_path do %>
                  <span class="glyphicon glyphicon-stats"></span>
                  Estado
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: :delete) do %>
                  <span class="glyphicon glyphicon-off"></span>
                  Cerrar Sesión
                <% end %>

              </li>
              </ul>
            <% end %>
          <% else %>
          <li>
            <%= link_to user_omniauth_authorize_path(:instagram) do %>
            <i class="fa fa-instagram" aria-hidden="true"></i> Ingresar con Instagram
            <% end %>
          </li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</div>
