<div class="app__menu_container">
  <nav class="navbar navbar-default app__menu_nav  navbar-fixed-top">
    <div class="container-fluid app__menu_nav--container">
      <div class="navbar-header app__menu_nav-hamburguer--container pull-left">
        <button type="button" class="app__menu_nav-hamburguer--btn navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse app__menu_nav-items" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active app__menu_nav-item" id="home_path">
            <%= link_to root_url  do%>
              Home <span class="sr-only">(current)</span></a>
            <% end %>
          <li class="app__menu_nav-item" id="catalog_path"><%= link_to "Cat치logo", catalog_view_path %></li>
        </ul>
        <div class="app__menu-right--container ">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#myModal" role="button" class="app__menu-right--search" data-toggle="modal">Buscar Producto</a>
            </li>
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="app__menu_dropdown-item fa fa-user "></i> <span class="app__menu_dropdown-item caret"></span></a>
              <ul class="dropdown-menu app__menu-right--dropmenu">
                <li>
                  <%  if user_signed_in?  %>
                    <%= link_to "Crear producto", users_dashboard_path %>
                  <% else %>
                    <%= link_to "Crear cat치logo", new_user_registration_path%>
                  <% end %>
                </li>
                <%  if user_signed_in?  %>
                  <li>
                    <%= link_to "Mis productos", products_path %>
                  </li>
                  <li>
                    <%= link_to('Cerrar Sesi칩n', destroy_user_session_path, :method => :delete, :id => "logout") %>
                  </li>
                <% else %>
                  <li>
                   <%= link_to('Iniciar Sesi칩n', new_user_session_path)  %>
                   </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>