<section class="book__container wrapper special section hidden">
    <!-- BEGIN FLIPBOOK STRUCTURE -->
    <div class="inner clearfix">
      <div id="fb5-ajax">
        <!-- BEGIN HTML BOOK -->
        <div data-current="book5" class="fb5" id="fb5">
          <!-- PRELOADER -->
          <div class="fb5-preloader">
            <div id="wBall_1" class="wBall">
              <div class="wInnerBall">
              </div>
            </div>
            <div id="wBall_2" class="wBall">
              <div class="wInnerBall">
              </div>
            </div>
            <div id="wBall_3" class="wBall">
              <div class="wInnerBall">
              </div>
            </div>
            <div id="wBall_4" class="wBall">
              <div class="wInnerBall">
              </div>
            </div>
            <div id="wBall_5" class="wBall">
              <div class="wInnerBall">
              </div>
            </div>
          </div>

          <!-- BACKGROUND FOR BOOK -->
          <div class="fb5-bcg-book"></div>

          <!-- BEGIN CONTAINER BOOK -->
          <div id="fb5-container-book">

            <!-- BEGIN deep linking -->
            <section id="fb5-deeplinking">
               <ul>
                    <li data-address="page1" data-page="1"></li>
                    <li data-address="page2-page3" data-page="2"></li>
                    <li data-address="page2-page3" data-page="3"></li>
                    <li data-address="page4-5" data-page="4"></li>
                    <li data-address="page4-5" data-page="5"></li>
                    <li data-address="page6-page7" data-page="6"></li>
                    <li data-address="page6-page7" data-page="7"></li>
                    <li data-address="page8-page9" data-page="8"></li>
                    <li data-address="page8-page9" data-page="9"></li>
                    <li data-address="10-11" data-page="10"></li>
                    <li data-address="10-11" data-page="11"></li>
                    <li data-address="end" data-page="12"></li>
               </ul>
            </section>
            <!-- END deep linking -->


            <!-- BEGIN BOOK -->
            <div id="fb5-book">

              <!-- BEGIN PAGE 1-->
              <div data-background-image="" class="">
                <!-- begin container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page  -->
                    <div class="fb5-page-book">
                        <div id="fb5-cover">
                            <h1 class="book__title">Catlog</h1>
                            <p class="book__deck">Los productos de Instagram en un sólo lugar</p>
                            <div class="row book__cover-container">
                            <% @cover_products.each.with_index do |product, index| %>
                              <div class="col-xs-4 col-md-4 book__cover-images">
                                <a href="javascript:setPage(<%= index + 2 %>)" class="book__thumbnail thumbnail">
                                  <img src="<%= product.instagram_image %>" alt="...">
                                </a>
                              </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- end description for page  -->

                    <!-- number page and title -->
                    <div class="fb5-meta">
                      <span class="fb5-description"></span>
                      <span class="fb5-num"></span>
                    </div>
                                <!-- end number page and title  -->
                </div>
                <!-- end container page book -->
              </div>
              <!-- END PAGE 1 -->

              <% @products.each.with_index do |product, index| %>
                <div data-background-image="" class="">

                     <!-- begin container page book -->
                     <div class="fb5-cont-page-book">

                         <!-- description for page from WYSWIG -->
                        <div class="fb5-page-book  book__page-container ">

                          <img src="<%= product.instagram_image %>" class="book__page_gallery-img img-responsive img-rounded" alt="product">

                          <div class="book__page_gallery-caption">
                            <h3 class="book__page_gallery-title"><%= product.product_name %></h3>
                            <p class="book__page-price">
                              <b>Precio:</b> <%= number_to_currency product.price, precision:0 %>
                            </p>
                            <p class="book__page-quantity">
                              <b>Disponibles:</b> <%=  product.quantity %>
                            </p>
                            <p class="app__product-store_owner">
                              <span class="app__product-subtitle" id="store_owner">Tienda:</span>
                              <a href="https://www.instagram.com/<%= product.store_owner %>" target="_blank"><%= product.store_owner %></a>

                            </p>
                            <p class="app__product-description">
                              <b>Descripción:</b> <br> <%=  product.description.html_safe %>
                            </p>
                            <% if current_user %>
                              <% if current_user.id == product.user_id %>
                                <div class="book__admin-action--container text-right">
                                    <%= link_to edit_product_path(product) do %>
                                      <i class=" book__admin-action--item fa fa-pencil"></i>
                                   <% end %>
                                   <%= link_to product, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } do%>
                                       <i class=" book__admin-action--item fa fa-trash-o"></i>
                                   <% end %>
                                </div>
                              <% end %>
                            <% end %>


                          </div>
                        </div>

                        <!-- number page and title for page -->
                        <div class="fb5-meta">
                                <span class="fb5-num"><%= index + 2 %></span>
                        </div><!-- END number page and title for page -->


                     </div> <!-- end container page book -->
                </div>
              <% end %>

            </div>
            <!-- END BOOK -->

            <!-- arrows -->
            <a class="fb5-nav-arrow prev"></a>
            <a class="fb5-nav-arrow next"></a>
          </div>
          <!-- END CONTAINER BOOK -->

          <!-- BEGIN FOOTER -->
          <div id="fb5-footer">
            <div class="fb5-bcg-tools"></div>
            <a id="fb5-logo" target="_blank" href="#">

            </a>

            <div class="fb5-menu" id="fb5-center">
              <ul>
                <!-- icon_zoom_in -->
                <li>
                    <a title="ZOOM IN" class="fb5-zoom-in"></a>
                </li>
                <!-- icon_zoom_out -->
                <li>
                    <a title="ZOOM OUT " class="fb5-zoom-out"></a>
                </li>
                  <!-- icon_zoom_auto -->
                <li>
                    <a title="ZOOM AUTO " class="fb5-zoom-auto"></a>
                </li>
                  <!-- icon_zoom_original -->
                <li>
                  <a title="ZOOM ORIGINAL (SCALE 1:1)" class="fb5-zoom-original"></a>
                </li>

                  <!-- icon_allpages -->
                <li>
                    <a title="SHOW ALL PAGES " class="fb5-show-all"></a>
                </li>
                  <!-- icon_home -->
                <li>
                    <a title="SHOW HOME PAGE " class="fb5-home"></a>
                </li>
              </ul>
            </div>

            <div class="fb5-menu" id="fb5-right">
              <ul>
                <!-- icon page manager -->
                <li class="fb5-goto">
                    <div class="input-group">
                      <input type="search" class="form-control" placeholder="Ir a la página..." id="fb5-page-number">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- END FOOTER -->

          <!-- BEGIN ALL PAGES -->
          <div id="fb5-all-pages" class="fb5-overlay">
            <section class="fb5-container-pages">
              <div id="fb5-menu-holder">
                  <ul id="fb5-slider">

                    <li class="1">
                     sfas
                    </li>

                    <li class="2">
                     sfas
                    </li>

                    <li class="3">
                     sfas
                    </li>

                    <li class="4">
                     sfas
                    </li>

                    <li class="6">
                     sfas
                    </li>

                    <li class="7">
                     sfas
                    </li>

                    <li class="8">
                     sfas
                    </li>

                    <li class="9">
                     sfas
                    </li>

                    <li class="10">
                     sfas
                    </li>

                    <li class="12">
                     sfas
                    </li>
                  </ul>
              </div>
            </section>
          </div>
          <!-- END ALL PAGES -->
        </div>
        <!-- END HTML BOOK -->

        <!-- CONFIGURATION FLIPBOOK -->
        <script>
          jQuery('#fb5').data('config',
          {
            "page_width":"550",
            "page_height":"715",
            "zoom_double_click":"1",
            "zoom_step":"0.06",
            "double_click_enabled":"true",
            "tooltip_visible":"true",
            "toolbar_visible":"true",
            "gotopage_width":"20",
            "deeplinking_enabled":"true",
            "rtl":"false",
            'full_area':'false',
            'lazy_loading_thumbs':'false',
            'lazy_loading_pages':'false'
          });
        </script>
        <%= javascript_include_tag 'flipBook/turn.js' %>
        <%= javascript_include_tag 'flipBook/jquery.address-1.6.min.js' %>
        <%= javascript_include_tag 'flipBook/wait.js' %>
        <%= javascript_include_tag 'flipBook/onload.js' %>
      </div>
    </div>
    <!-- END FLIPBOOK STRUCTURE -->
</section>