<% content_for :title, "Tutoriales - " %>

<section class="section wrapper special">

  <div class="inner">
    <header class="major">
      <h2 class="tutorial__headline">Tutoriales</h2>
    </header>

    <div class="tutorial__container clearfix">
      <h2 class="tutorial__instructions_headline">Crear una cuenta</h2>
      <div class="tutorial__video_container col-sm-12 col-xs-12">
        <%= render "video", url: '171693410' %>
      </div>
      <div class="tutorial__instructions_container col-sm-12 col-xs-12">
        <h4 class="tutorial__instructions_subtitle">Recomendaciones:</h4>
        <ul>
          <li class="tutorial__instructions_text">Debes tener una cuenta de Instagram</li>
          <li class="tutorial__instructions_text">El numero de número de celular es primordial para el contacto con los clientes</li>
          <li class="tutorial__instructions_text">Escribe toda la información de los productos que vendes.</li>
        </ul>
        <h4 class="tutorial__instructions_subtitle">Pasos:</h4>
        <ul>
          <li class="tutorial__instructions_text">Selecciona la opción 'Ingresar con Instagram'</li>
          <li class="tutorial__instructions_text">Ingresa tus datos de Instagram</li>
          <li class="tutorial__instructions_text">Autoriza a Catlog para poder acceder a tus información</li>
          <li class="tutorial__instructions_text">Completa la información de contacto</li>
          <li class="tutorial__instructions_text">Guarda y ¡listo!</li>
        </ul>
      </div>
    </div>
    <hr>

    <div class="tutorial__container clearfix" id="create_product">>
      <h2 class="tutorial__instructions_headline">Crear un producto</h2>
      <div class="tutorial__video_container col-sm-12 col-xs-12 even">
        <%= render "video", url: '170412994' %>
      </div>
      <div class="tutorial__instructions_container col-sm-12 col-xs-12 even">
        <h4 class="tutorial__instructions_subtitle">Recomendaciones:</h4>
        <ul>
          <li class="tutorial__instructions_text">Escoge la imagen de Instagram en la que mejor se ve tu producto</li>
          <li class="tutorial__instructions_text">Publica toda la información que un cliente necesite saber de ese producto</li>
        </ul>
        <h4 class="tutorial__instructions_subtitle">Pasos:</h4>
        <ul>
          <li class="tutorial__instructions_text">Selecciona la opción 'Crear producto'</li>
          <li class="tutorial__instructions_text">Elige la imagen que desees</li>
          <li class="tutorial__instructions_text">Completa la información del producto</li>
          <li class="tutorial__instructions_text">Guarda y ¡listo!</li>
          <li class="tutorial__instructions_text">La aplicación se encargará de generar el código</li>
        </ul>
      </div>
    </div>
    <hr>


    <div class="tutorial__container clearfix" id="add_code">
      <h2 class="tutorial__instructions_headline">Añadir Código a Instagram</h2>
      <div class="tutorial__video_container col-sm-12 col-xs-12">
        <%= render "video", url: '170412993' %>
      </div>
      <div class="tutorial__instructions_container col-sm-12 col-xs-12">
        <h4 class="tutorial__instructions_subtitle">Recomendaciones:</h4>
        <ul>
          <li class="tutorial__instructions_text">En la página web de tu cuenta de Instagram escribe la direccion de catlog.com, para que sea más fácil encontrar la información</li>
        </ul>
        <h4 class="tutorial__instructions_subtitle">Pasos:</h4>
        <ul>
          <li class="tutorial__instructions_text">Copia el código que está acompañado en el producto</li>
          <li class="tutorial__instructions_text">Ve a tu perfil de Instagram</li>
          <li class="tutorial__instructions_text">Escoge la fotografía que quieras que tenga el código</li>
          <li class="tutorial__instructions_text">Selecciona la opción de editar</li>
          <li class="tutorial__instructions_text">Pega el código y ¡listo!</li>
        </ul>
      </div>
    </div>
    <hr>

    <div class="tutorial__container clearfix" id="edit_product">>
      <h2 class="tutorial__instructions_headline">Editar un producto</h2>
      <div class="tutorial__video_container col-sm-12 col-xs-12 even">
        <%= render "video", url: '170412991' %>
      </div>
      <div class="tutorial__instructions_container col-sm-12 col-xs-12 even">
        <h4 class="tutorial__instructions_subtitle">Recomendaciones:</h4>
        <ul>
          <li class="tutorial__instructions_text">Puedes ir actualizando la cantidad de productos que tienes disponibles.</li>
          <li class="tutorial__instructions_text">Añade información que consideres necesaria</li>
          <li class="tutorial__instructions_text">Cuando eliminas un producto toda la información de este se pierde.</li>
        </ul>
        <h4 class="tutorial__instructions_subtitle">Pasos:</h4>
        <ul>
          <li class="tutorial__instructions_text">Selecciona la opción 'Ver productos'</li>
          <li class="tutorial__instructions_text">Elige el producto que desees editar</li>
          <li class="tutorial__instructions_text">Edita la información del producto</li>
          <li class="tutorial__instructions_text">Guarda y ¡listo!</li>
        </ul>
      </div>
    </div>
    <hr>

    <div class="tutorial__container clearfix" id="edit_account">>
      <h2 class="tutorial__instructions_headline">Editar tu cuenta</h2>
      <div class="tutorial__video_container col-sm-12 col-xs-12">
        <%= render "video", url: '170412992' %>
      </div>
      <div class="tutorial__instructions_container col-sm-12 col-xs-12">
        <h4 class="tutorial__instructions_subtitle">Recomendaciones:</h4>
        <ul>
          <li class="tutorial__instructions_text">Siempre verifica la información de contacto que actualizaste.</li>
        </ul>
        <h4 class="tutorial__instructions_subtitle">Pasos:</h4>
        <ul>
          <li class="tutorial__instructions_text">Selecciona la opción 'Editar mi información'</li>
          <li class="tutorial__instructions_text">Edita la información que desees</li>
          <li class="tutorial__instructions_text">Guarda y ¡listo!</li>
        </ul>
      </div>
    </div>
  </div>
</section>
