<% @products.each do |product| %>
  <tr class="list-values" data-expanded="true">
    <td>
      <a href="<%= product.instagram_image %>" data-lightbox="image-1" data-title="<%= product.product_name %>" >
        <img src="<%= product.instagram_image %>" alt="catlog, productos, <%= product.user.store_name%>" class="list-image">
      </a>
    </td>
    <td> <%= product.product_name %> </td>
    <td><%= number_to_currency product.price, precision:0 %></td>
    <td><%= product.quantity %></td>
    <td><%= truncate(product.description, escape: false) %></td>
    <td><%= product.shortened_urls.last.unique_key %></td>
    <td> <%= link_to product do %> <i class="list-action fa fa-eye"></i> <% end %> </td>
    <td>
      <%= link_to edit_product_path(product) do %>
        <i class="list-action fa fa-pencil"></i>
      <% end %>
    </td>
    <td>
      <%= link_to product, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminarlo?' } do%>
        <i class="list-action fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end %>
