<% content_for :title, @product.product_name + " - " %>
<% content_for :meta_tags do %>
  <meta property="og:url"                  content="<%= request.original_url %>" />
  <meta property="og:type"                 content="product" />
  <meta property="og:title"                content="<%= @product.product_name %>" />
  <meta property="og:description"          content="<%= strip_tags(@product.description.html_safe) %>" />
  <meta property="og:image"                content="<%= @product.instagram_image %>" />
  <meta property="product:price:amount"    content="<%= number_to_currency @product.price, precision:0 %>" />
  <meta property="product:price:currency"  content="COP" />

  <meta name="twitter:card"         content="summary" />
  <meta name="twitter:site"         content="@catlog.co" />
  <meta name="twitter:title"        content="<%= @product.product_name %>" />
  <meta name="twitter:description"  content="<%= @product.product_name %> de <%= @product.user.store_name %> ahora en http://catlog.co" />
  <meta name="twitter:image"        content="<%= @product.instagram_image %>" />
<% end %>

<section id="seven" class="section product-container wrapper special">

  <div class="inner">
    <img src="<%= @product.instagram_image %>" class="product-img img-responsive col-xs-12 col-md-6 col-lg-6 col-sm-6" alt="catlog, productos, <%= @product.user.store_name%>">

    <div class="product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 ">
      <header class="major product-headline">
        <h2><%= @product.product_name %></h2>
      </header>

      <p class="product-price">
        <span class="app__bold-text">Precio:</span>
        <%= number_to_currency @product.price, precision:0 %>
      </p>

      <p class="product-quantity">
        <span class="app__bold-text">Disponibles:</span>
        <%=  @product.quantity %>
      </p>

      <p class="app__product-description">
        <span class="app__bold-text" id="description">Descripción:</span>
        <%=  @product.description.html_safe %>
      </p>

      <p class="product-store_owner">
        <span class="app__bold-text" id="store_owner">Tienda:</span>
        <%= link_to @product.user.store_name, user_path(@product.user_id) %>
      </p>

      <% if current_user %>
        <% if current_user.id == @product.user_id %>
          <p class="product-code">
            Comparte este código en tu post de instagram:

            <span class="app__bold-text product_code" oncopy="addLink()" >
              <%= @product.shortened_urls.last.unique_key %>
            </span>
          </p>

          <div class="product-action--container text-right">
            <%= link_to edit_product_path(@product) do %>
              <i class=" product-action--item fa fa-pencil"></i>
            <% end %>

            <%= link_to @product, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } do%>
              <i class=" product-action--item fa fa-trash-o"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>
