<% content_for :title, @product.product_name + " - " %>
<% content_for :meta_tags do %>
  <meta property="og:url"                  content="<%= request.original_url %>" />
  <meta property="og:type"                 content="product" />
  <meta property="og:title"                content="<%= @product.product_name %>" />
  <meta property="og:description"          content="<%= strip_tags(@product.description.html_safe) %>" />
  <meta property="og:image"                content="<%= @product.instagram_image %>" />
  <meta property="product:price:amount"    content="<%= number_to_currency @product.price, precision:0 %>" />
  <meta property="product:price:currency"  content="COP" />

  <meta name="twitter:card"         content="summary" />
  <meta name="twitter:site"         content="@catlog_co" />
  <meta name="twitter:title"        content="<%= @product.product_name %>" />
  <meta name="twitter:description"  content="<%= @product.product_name %> de <%= @product.store.name %> ahora en http://catlog.co" />
  <meta name="twitter:image"        content="<%= @product.instagram_image %>" />
<% end %>

<% content_for :mobile_header do %>
  <h5 class="mobileHeader__deck">Producto de:</h5>
  <h3 class="mobileHeader__headline"><%= link_to @product.store.name, store_path(@product.store.slug), class: 'mobileHeader__link' %></h3>
<% end %>

<% content_for :headline do %>
  <h5>Producto de:</h5>
  <h3 class="sectionHero__headline"><%= link_to @product.store.name, store_path(@product.store.slug), class: 'sectionHero__link' %></h3>
<% end %>

<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img
        src="<%= @product.instagram_image %>"
        class="product__image img-responsive"
        alt="catlog, productos, <%= @product.store.name %>"
        data-zoom-image="<%= @product.instagram_image %>"
        id="instagram_image"
        >
    </div>

    <div class="product__caption caption col-xs-12 col-sm-6">

      <header class="clearfix">
        <h1 class="product__name">
          <%= @product.product_name %>
        </h1>
        <h2 class="product__price">
          <%= number_to_currency @product.price, precision:0 %>
        </h2>
        <% if @product.store.delivery_price %>
          <h4>
            <span class="label label-default">+ Envío <%= number_to_currency @product.store.delivery_price, precision: 0 %></span>
          </h4>
          <hr>
        <% else %>
          <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Esta tienda <b>no</b> tiene <b>precio de envío</b>, recuerda preguntar.
          </div>
        <% end %>
      </header>
      <p class="product__avalability">
        <b>Disponibles:</b>
        <%= @product.quantity %>
      </p>
      <p>
        <b>Descripción:</b>
      </p>
      <div class="product__description">
        <%=  @product.description.html_safe %>
      </div>

      <br>
      <hr>

      <p class="align-left">
        <% unless @product.category.name == 'Sin Categoría' %>
          <b>Categoría:</b>
          <%= link_to @product.category.name, @product.category, class: "category__link" %>
        <% end %>
      </p>

      <% if current_user and current_user.id == @product.store_id %>
        <hr>
        <blockquote class="product-code">
          <p> Comparte este código en tu post de instagram:
            <span class="product_code" oncopy="addLink()" >
              <b><%= @product.shortened_urls.last.unique_key %></b>
            </span>
          </p>

          <p class="product__actions">
            <%= link_to edit_stores_product_path(@product) do %>
              <i class="product__action fa fa-pencil-square"></i> Editar
            <% end %>
            <br>
            <%= link_to ['stores', @product], method: :delete, data: { confirm: '¿Estás seguro que deseas eliminarlo?'} do%>
              <i class="product__action fa fa-trash"></i> Eliminar
            <% end %>
          </p>
        </blockquote>
      <% else %>
        <hr>
        <div class="js_callToAction">
          <!-- <button class="btn btn-primary btn-block btn-lg js_togglePurchaseBtn" class="track" data-track='comprar'>Comprar</button> -->
          <%= link_to 'Comprar', new_product_order_path(@product), class: 'btn btn-primary btn-lg btn-block' %>
          <div class="sellerInfo hide">
            <p>
              <b>Cel:</b>
              <a href="tel:<%= number_to_phone(@product.store.phone_number) %>" class="track" data-track='tel'>
                <%= number_to_phone(@product.store.phone_number) %>
              </a>
              <br>
              <%= t "product.purchase" %>
            </p>
          </div>
        </div>
      <% end %>
      <hr>
      <div>
        <span class="social">
          <iframe
            src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fcatlog.co%2F<%= @product.shortened_urls.last.unique_key %>&via=catlog_co&text=<%= @product.product_name %> de la tienda <%= @product.store.name %>,&hashtags=LoEncontreEnCatlog"
            width="80"
            height="40"
            title="Twitter Tweet Button"
            style="border: 0; overflow: hidden;">
          </iframe>
        </span>
        <span class="social">
          <a
            data-pin-do="buttonPin"
            href="https://www.pinterest.com/pin/create/button/?url=http://catlog.co/<%= @product.shortened_urls.last.unique_key %>&media=<%= @product.instagram_image %>&description=<%= strip_tags(@product.description.html_safe) %>"
            data-pin-color="red"
            data-pin-tall="true"
            data-pin-height="40">
          </a>
        </span>
        <span class="social">
          <iframe
            src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fcatlog.co%2F<%= @product.shortened_urls.last.unique_key %>&layout=button&mobile_iframe=true&width=80&height=20&appId"
            width="80" height="39" style="border:none;overflow:hidden"
            scrolling="yes" frameborder="0" allowTransparency="true">
          </iframe>
        </span>
      </div>
    </div>
  </div>

</section>

<script>

$('.js_callToAction').on('click', '.track', function(event){
  $element = $(event.currentTarget);
  data = $element.data('track');
  ga('send', 'event', '<%= @product.store.name %>', data, '<%= @product.product_name %>');
});

$('.js_togglePurchaseBtn').on('click', function(event){
  $(event.currentTarget)
    .addClass('hide')
    .next()
    .removeClass('hide');
});

</script>

<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
