<section id="seven" class="section app__product-container wrapper special">

  <div class="inner">
    <img src="<%= @product.instagram_image %>" class="app__product-img img-responsive col-xs-12 col-md-6 col-lg-6 col-sm-6" alt="catlog, productos, <%= @product.user.store_name%>">

    <div class="app__product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 ">
      <header class="major app__product-headline">
        <h2><%= @product.product_name %></h2>
      </header>

      <p class="app__product-price">
        <span class="app__bold-text">Precio:</span>
        <%= number_to_currency @product.price, precision:0 %>
      </p>

      <p class="app__product-quantity">
        <span class="app__bold-text">Disponibles:</span>
        <%=  @product.quantity %>
      </p>

      <p class="app__product-description">
        <span class="app__bold-text" id="description">Descripción:</span>
        <%=  @product.description.html_safe %>
      </p>

      <p class="app__product-store_owner">
        <span class="app__bold-text" id="store_owner">Información de la tienda:</span>
        <%= link_to  @product.user.store_name, stores_show_path(id: @product.user_id) %>
      </p>

      <% if current_user %>
        <% if current_user.id == @product.user_id %>
          <p class="app__product-code">
            Comparte este código en tu post de instagram:
            <span class="app__bold-text">
              <%= @product.shortened_urls.last.unique_key %>
            </span>
          </p>

          <div class="app__product-action--container text-right">
            <%= link_to edit_product_path(@product) do %>
              <i class=" app__product-action--item fa fa-pencil"></i>
            <% end %>

            <%= link_to @product, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } do%>
              <i class=" app__product-action--item fa fa-trash-o"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>
