<section id="seven" class="section app__product-container wrapper special">

  <div class="inner">
    <img src="<%= @product.instagram_image %>" class="app__product-img img-responsive col-xs-12 col-md-6 col-lg-6 col-sm-6" alt="@product">

    <div class="app__product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 ">
      <header class="major app__product-headline">
        <h2><%= @product.product_name %></h2>
      </header>
      <p class="app__product-price">
        <span class="app__product-subtitle">Precio:</span>
        <%= number_to_currency @product.price, precision:0 %>
      </p>
      <p class="app__product-quantity">
        <span class="app__product-subtitle">Disponibles:</span>
        <%=  @product.quantity %>
      </p>
      <p class="app__product-description">
        <span class="app__product-subtitle" id="description">Descripción:</span>
        <%=  @product.description.html_safe %>
      </p>
      <p class="app__product-store_owner">
        <span class="app__product-subtitle" id="store_owner">Tienda:</span>
        <a href="https://www.instagram.com/<%= product.store_owner %>" target="_blank"><%= product.store_owner %></a>
      </p>
      <% if current_user.id == @product.user_id %>
        <p class="app__product-code">
          Comparte este código en tu post de instagram:
          <span class="app__product-subtitle">
            <%= @product.shortened_urls.last.unique_key %>
          </span>
        </p>
        <div class="app__product-action--container text-right">
            <%= link_to edit_product_path(@product) do %>
              <i class=" app__product-action--item fa fa-pencil"></i>
           <% end %>
           <%= link_to @product, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } do%>
               <i class=" app__product-action--item fa fa-trash-o"></i>
           <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="notice" class="alert col-xs-12 col-sm-12 col-md-12 col-lg-12 app__product_notice">
    <p>
      <%= notice %>
    </p>
  </div>
</section>
