<% content_for :title, @product.product_name + " - " %>
<% content_for :meta_tags do %>
  <meta property="og:url"                  content="<%= request.original_url %>" />
  <meta property="og:type"                 content="product" />
  <meta property="og:title"                content="<%= @product.product_name %>" />
  <meta property="og:description"          content="<%= strip_tags(@product.description.html_safe) %>" />
  <meta property="og:image"                content="<%= @product.instagram_image %>" />
  <meta property="product:price:amount"    content="<%= number_to_currency @product.price, precision:0 %>" />
  <meta property="product:price:currency"  content="COP" />

  <meta name="twitter:card"         content="summary" />
  <meta name="twitter:site"         content="@catlog.co" />
  <meta name="twitter:title"        content="<%= @product.product_name %>" />
  <meta name="twitter:description"  content="<%= @product.product_name %> de <%= @product.user.store_name %> ahora en http://catlog.co" />
  <meta name="twitter:image"        content="<%= @product.instagram_image %>" />
<% end %>

<section id="seven" class="section product-container wrapper special">

  <div class="inner">
    <img src="<%= @product.instagram_image %>" class="product-img img-responsive col-xs-12 col-md-6 col-lg-6 col-sm-6" alt="catlog, productos, <%= @product.user.store_name%>">

    <div class="product-caption caption col-xs-12 col-md-6 col-lg-6 col-sm-6 ">
      <header class="major product-headline">
        <h2><%= @product.product_name %></h2>
      </header>

      <p class="product-price">
        <span class="app__bold-text">Precio:</span>
        <%= number_to_currency @product.price, precision:0 %>
      </p>

      <p class="product-quantity">
        <span class="app__bold-text">Disponibles:</span>
        <%=  @product.quantity %>
      </p>

      <p class="app__product-description">
        <span class="app__bold-text" id="description">Descripción:</span>
        <%=  @product.description.html_safe %>
      </p>

      <p class="product-store_owner">
        <span class="app__bold-text" id="store_owner">Tienda:</span>
        <%= link_to @product.user.store_name, user_path(@product.user_id) %>
      </p>

      <p>
        <a
          class="twitter-share-button"
          href="https://twitter.com/intent/tweet"
          data-hashtags="loviencatlog.co"
          data-url="http://catlog.co/<%= @product.shortened_urls.last.unique_key %>"
          data-via="catlog.co"
          data-text="<%= @product.product_name %> de la tienda <%= @product.user.store_name %>,"
          >
          Tweet</a>

          <iframe
              src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&mobile_iframe=true&width=80&height=20&appId"
              width="80" height="20" style="border:none;overflow:hidden"
              scrolling="no" frameborder="0" allowTransparency="true">
          </iframe>

          <a
            data-pin-do="buttonPin"
            href="https://www.pinterest.com/pin/create/button/?url=http://catlog.co/<%= @product.shortened_urls.last.unique_key %>&media=<%= @product.instagram_image %>&description=<%= strip_tags(@product.description.html_safe) %>"
            data-pin-color="red">
          </a>
      </p>

      <% if current_user %>
        <% if current_user.id == @product.user_id %>
          <p class="product-code">
            Comparte este código en tu post de instagram:

            <span class="app__bold-text product_code" oncopy="addLink()" >
              <%= @product.shortened_urls.last.unique_key %>
            </span>
          </p>

          <div class="product-action--container text-right">
            <%= link_to edit_product_path(@product) do %>
              <i class=" product-action--item fa fa-pencil"></i>
            <% end %>

            <%= link_to @product, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } do%>
              <i class=" product-action--item fa fa-trash-o"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
