<footer class="footer">
  <div class="container">
    <p class="footer__text">
      Made with
      <i class="fa fa-heart"></i>
      <span class="footer__second">
        by
        <a href="http://anamariasosa.me/" target="_blank" class="footer__link">Ana María Sosa</a>
        ©
        <%= Time.now.year %>
      </span>
      <span class="pull-right"><i class="fa fa-question-circle footer__help js_footerHelp"></i></span>
    </p>
  </div>
</footer>

<footer class="footer__information js_footerInfo">
  <div class="container">
    <div class="row footer-links hide-xs">
      <%= render 'layouts/footer/company' %>
      <%= render 'layouts/footer/customer_service' %>
      <%= render 'layouts/footer/information' %>
      <%= render 'layouts/footer/contact' %>
    </div>
  </div>
</footer>
