<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %>Catlog</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="<%= t 'web.description' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield(:meta_tags) %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>

  <%= csrf_meta_tags %>

</head>
<body>
  <div class="loader"></div>

  <%= render 'shared/alerts/flash' %>

  <%= render partial: "shared/menu/top", locals: { search: true } %>

  <div class="content clearfix">
    <% if content_for?(:headline) %>
      <header class="sectionHero hidden-xs">
        <div class="container">
          <%= yield :headline %>
        </div>
      </header>
      <% end %>
    <%= yield %>
  </div>

  <%= render "layouts/footer" %>


  <%= render "mixins/login" %>

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-79609369-1', 'auto');
  ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
</body>
</html>
