<!DOCTYPE html>
<html>
<head>
  <title>VirtualBookletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>
      var CKEDITOR_BASEPATH = '/ckeditor/';
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container app__container">
    <%= render "helpers/menu" %>
    <%= yield %>
    <%= render "helpers/footer" %>
  </div>

  <%= render "mixins/search" %>

</body>
</html>
