<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Catlog</title>
  <meta name="description" content="Catlog: Catálogo virutal de las tiendas de Instagram. Sabrás los precios, descripciones y disponibilidad de tus productos favoritos">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-config" content="/IEconfig.xml" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container app__container">
    <%= render "helpers/menu" %>
    <div class="app__content clearfix">
      <%= yield %>
    </div>
    <%= render "helpers/footer" %>
  </div>

  <%= render "mixins/search" %>

  <!-- Google Analytics -->
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create', 'UA-73455151-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>
</html>
